* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url("F:\Github Clones\react_chat_app\public\bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  width: 90vw;
  height: 90vh;
  background-color: rgb(53, 50, 102, 0.5);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border:rgb(218, 206, 206, 0.15);
  display: flex;
  
}

